/********  Fonts ********/
$font-primery: 'Lato', sans-serif;
$font-secondary: 'Red Hat Display', sans-serif;


/********  Colors  ********/
$primary: #565656;
$secondary: #7b7b7b;
$white-default: #FFFFFF;
$black-default: #000000;


/******** Breackpoints ********/
$lg: 1440px;
$md: 768px;
$md-max: $lg - 1;
$sm: 320px;
$sm-max: $md - 1;

/***** width *****/
$content-width: 1170px;
